.background {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #a6f, #b9f);
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.hero {
    position: absolute;
    left: 10vw;
    width: 80vw;
    height: 200px;
    background: linear-gradient(to right, #000, transparent);
    opacity: .2;
}

.title {
    grid-column: 3 / span 6;
    grid-row: 1 / span 1;
    margin-top: 20px;
    font-size: 5rem;
    border-bottom: 1px solid black;
    font-family: 'Montserrat';
    letter-spacing: -2px;
}

.subtitle {
    grid-column: 7 / span 4;
    grid-row: 2 / span 1;
    font-size: 2rem;
    text-align: right;
    border-bottom: 1px solid black;
    font-family: 'Montserrat';
}

.proposition {
    grid-column: 3 / span 8;
    grid-row: 3 / span 1;
    translate: 0 70px;
    text-align: center;
    font-family: 'Rubik';
}

.arrows {
    grid-column: 3 / span 8;
    grid-row: 4 / span 1;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.arrowDown {
    stroke-width: 2px;
    animation: blink 1.5s alternate-reverse infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    35% {
        opacity: 0;
    }
    65% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.heading {
    grid-column: 3 / span 2;
    grid-row: 1 / span 1;
    translate: 20px -40px;
    text-align: center;
    color: white;
    background-color: #214;
    border-radius: 2px;
    padding: 6px;
    font-family: 'Montserrat';
}

.contProj {
    grid-column: 1 / span 12;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projHead {
    translate: 0px -20px;
    width: 200px;
    text-align: center;
    color: white;
    background-color: #214;
    border-radius: 2px;
    padding: 6px;
    font-family: 'Montserrat';
}

.projImg {
    position: absolute;
    right: 10vw;
    translate: 0 -50px;
    max-width: 30vw;
    max-height: 20vh;
    width: 256px;
    height: 144px;
    background-color: black;
}

.contInf {
    grid-column: 3 / span 4;
    grid-row: 1 / span 1;
    translate: 20px -40px;
    text-align: center;
    color: white;
    background-color: #214;
    border-radius: 2px;
    padding: 6px;
    font-family: 'Montserrat';
}

p {
    font-family: 'Rubik';
}

.bg {
    grid-column: 3 / span 8;
    grid-row: 1 / span 4;
    background-color: rgba(192, 192, 255, .3);
    border-radius: 2px;
    padding: 20px;
    font-family: 'Rubik';
}

.icons {
    margin-top: 16px;
    width: 50px;
    height: 50px;
    color: #ccc;
    cursor: pointer;
    transition: transform .2s, color .2s, font-weight .2s;
}

.icons:hover {
    transform: scale(1.1);
    color: black;
}

a {
    text-decoration: none;
}

.cv {
    color: #ccc;
    font-size: 55px;
    transition: all .2s;
}

.cv:hover {
    transform: scale(1.1);
    color: black;
}

@media only screen and (max-width: 480px) {
    .title {
        font-size: 1.5rem;
    }

    .subtitle {
        font-size: .8rem;
        grid-column: 6 / span 6;
    }

    .heading {
        font-size: 1rem;
        translate: 10px -25px;
        grid-column: 3 / span 4;
    }

    .projHead {
        font-size: 1rem;
    }

    .contInf {
        font-size: 1rem;
    }

    .hero {
        height: 120px;
    }

    .projImg {
        width: 128px;
        height: 72px;
        translate: 0 -25px;
    }

    .icons {
        width: 30px;
    }

    .cv {
        font-size: 35px;
        margin-top: 15px;
    }
}