.background {
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #22f, #002);
    animation: bgAnimation 8s infinite alternate-reverse;
}

@keyframes bgAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.75;
    }
}

.backRay {
    background-color: white;
    border-radius: 16px;
    position: fixed;
    z-index: 0;
    filter: blur(16px);
    animation: bgFx 20s linear forwards;
}

@keyframes bgFx {
    0% {
        opacity: 0;
        translate: 0 0;
    }
    5% {
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        translate: 0 -100vh;
    }
}

.name {
    position: absolute;
    color: #eee;
    text-shadow: -2px 2px 2px #222;
    animation: name 5s ease-in-out infinite;
    font-family: 'Inter';
    font-size: 50px;
}

.title {
    position: absolute;
    color: #eee;
    text-shadow: -2px 2px 2px #222;
    animation: title 5s ease-in-out infinite;
    font-family: 'Inter';
    font-size: 50px;
}

@keyframes name {
    0% {
        opacity: 0;
        transform: scale(2);
    }

    10% {
        opacity: 1;
        transform: scale(1.5);
    }

    40% {
        opacity: 1;
        transform: scale(1.5);
    }

    50% {
        opacity: 0;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

@keyframes title {
    0% {
        opacity: 0;
        transform: scale(2);
    }

    50% {
        opacity: 0;
        transform: scale(2);
    }

    60% {
        opacity: 1;
        transform: scale(1.5);
    }

    90% {
        opacity: 1;
        transform: scale(1.5);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

.contenedor {
    display: flex;
    justify-content: center;
    max-width: 90vw;
    margin: 0 auto;
    overflow: hidden;
}

.arrows {
    height: 200px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.arrowDown {
    stroke-width: 2px;
    filter: drop-shadow(0 -4px 2px #222);
    animation: bounce .5s ease-in alternate-reverse infinite;
}

@keyframes bounce {
    0% {
        translate: 0 -50px;
    }
    100% {
        translate: 0 0px;
    }
}

.hero {
    text-align: center;
    margin: 0 300px;
    font-family: 'JetBrains Mono';
    font-weight: 700;
    color: white;
}

.card {
    border-radius: 16px;
    width: 0px;
    max-height: 0px;
    overflow: hidden;
    margin: 0 auto;
    padding: 16px;
    background-color: white;
    color: white;
    cursor: pointer;
    transition: all 1s;
}

.active {
    animation: activate 1s forwards;
}

@keyframes activate {
    0% {
        background-color: white;
        width: 0px;
        max-height: 0px;
        padding: 16px;
    }
    25% {
        background-color: white;
        width: 0px;
        max-height: 0px;
        padding: 4px;
    }
    50% {
        background-color: white;
        width: 67vw;
        max-height: 0px;
        padding: 4px;
        overflow: hidden;
    }
    100% {
        background-color: rgba(0,0,0,.2);
        width: 67vw;
        max-height: 2000px;
        padding: 16px;
        overflow: visible;
    }
}

.deactive {
    animation: deactivate 1s;
}

@keyframes deactivate {
    100% {
        background-color: white;
        width: 0px;
        max-height: 0px;
        padding: 16px;
    }
    75% {
        background-color: white;
        width: 0px;
        max-height: 0px;
        padding: 4px;
    }
    50% {
        background-color: white;
        width: 67vw;
        max-height: 0px;
        padding: 4px;
    }
    0% {
        background-color: rgba(0,0,0,.2);
        width: 67vw;
        max-height: 500px;
        padding: 16px;
    }
}

.card p, .card div, .card h6 {
    font-family: 'JetBrains Mono';
}


.card img {
    display: block;
    z-index: 10;
    width: 30%;
    height: auto;
    border-radius: 8px;
    opacity: .5;
    margin: 0 16px 0 auto;
}

.card img:hover {
    animation: shine 1s forwards;
}

@keyframes shine {
    0% {
        filter: contrast(100%) brightness(1);
    }
    30% {
        filter: contrast(0) brightness(10);
        transform: scale(1.5);
    }
    100% {
        filter: contrast(100%) brightness(1);
        transform: scale(1.5);
        opacity: 1;
    }
}

.contact {
    border-radius: 16px;
    width: 0px;
    max-height: 0px;
    overflow: hidden;
    margin: 0 auto;
    padding: 16px;
    background-color: white;
    cursor: pointer;
    transition: all 1s;
    display: flex;
    justify-content: space-around;
}

.heading {
    text-align: center;
    color: white;
    font-family: 'Inter';
}

.icons {
    width: 64px;
    height: 64px;
    margin: 16px 0;
    filter: brightness(100);
}

.icons:hover {
    animation: spinny 1s;
}

@keyframes spinny {
    0% {
        translate: 0 0;
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(400deg);
    }
    80% {
        transform: rotate(340deg);
    }
    90% {
        transform: rotate(375deg);
    }
    100% {
        translate: 0 0;
        transform: rotate(360deg);
    }
}

a {
    text-decoration: none !important;
}

.cv {
    color: white;
    font-size: 58px;
}

.cv:hover {
    animation: spinny 1s;
}

@media only screen and (max-width: 600px) {
    .name {
        font-size: 22px;
    }

    .title {
        font-size: 16px;
    }

    .arrowDown {
        transform: scale(.75);
    }

    .hero {
        margin: 70px;
        font-size: 8px;
    }

    .card img {
        width: 80%;
        margin: 20px auto;
        opacity: 1;
    }

    .icons {
        width: 30px;
        height: 30px;
    }

    .cv {
        font-size: 30px;
        margin-top: 5px;
    }
}